body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  margin-bottom: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.age-result {
  margin-top: 20px;
  font-size: 18px;
  color: #555;
}

.age-result span {
  font-weight: bold;
  color: #007bff;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  height: 40px;
  margin: 0 10px;
}

.todo-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  margin-bottom: 20px;
}

.todo-container input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  width: calc(100% - 22px);
}

.todo-container button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
  width: 100%;
}

.quiz-container {
  background: rgb(19, 19, 19);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  margin-bottom: 20px;
}

.question-section {
  margin-bottom: 20px;
}

.question-count {
  margin-bottom: 10px;
}

.question-text {
  font-size: 24px;
}

.answer-section {
  display: flex;
  flex-direction: column;
}

.answer-section button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
}

.score-section {
  font-size: 24px;
  margin-bottom: 20px;
}

.score-section button {
  padding: 10px 20px;
  font-size: 16px;
}